h1 {
    font-size: 120px;
}

h2 {
    font-size: 70px;
}

h1, h2, p {
    text-align: center;
}

.sideImg img {
    width: 90%;
}

#buttonArea {
    margin: 0 auto;
}

#title {
    font-size: 30px;
}

.start {
    color: white;
    background-color: black;
    border: 0;
    padding: 6px;
}